*~
#*
\#*
.#*
*.log
*.pid
.coverage
.project
*.pyc
.ropeproject/
.ropeproject

docs/build
pip-log.txt

dist/
build/
*.egg-info/
mongoengine
mongoengine*.egg
/.dir-locals.el
.eggs/
htmlcov/
/docs/source/apidoc/
