asyncblink==0.3.2
Jinja2==2.11.3
MarkupSafe==1.1.1
Pygments==2.7.4
Sphinx==3.4.3
autopep8==1.5.4
blinker==1.4
certifi==14.05.14
coverage==5.3.1
docutils==0.16
flake8==3.8.4
ipdb==0.13.4
ipython==7.19.0
jsonschema==3.2.0
mccabe==0.6.1
mistune==0.8.4
mongoengine==0.22.1
motor==2.3.0
pep8==1.7.1
pkginfo==1.7.0
pyflakes==2.2.0
pymongo==3.11.2
requests==2.25.1
sphinx-pdj-theme==0.2.1
tornado==6.1
twine==3.3.0
